---
import '../styles/global.css';
const anoAtual = new Date().getFullYear();
---
<footer class="main-footer">
    <div class="container">
        <p>&copy; {anoAtual} Ministério Filadélfia. Todos os direitos reservados.</p>
        <p>Desenvolvido por [Seu Nome ou Sua Empresa]</p>
    </div>
</footer>