---
import '../styles/global.css';
---
<header class="main-header">
    <div class="container">
        <div class="top-bar">
            <p>R. Machado de Assis, 039 - Linha, Ibirubá/RS</p>
        </div>
        <div class="logo-container">
            <img src="/logo-filadelfia.svg" alt="Logo Ministério Filadélfia">
        </div>
    </div>
</header>