---
import '../styles/global.css';
---
<section class="social-feed">
    <div class="container">
         <div class="social-grid">
            <div class="social-card"></div>
            <div class="social-card"></div>
            <div class="social-card"></div>
            <div class="social-card"></div>
         </div>
    </div>
</section>