---
import '../styles/global.css';
---
<section class="video-institucional">
    <div class="container">
        <h2>Conheça mais sobre o Ministério Filadélfia</h2>
        <div class="video-placeholder">
            <p>vídeo institucional</p>
        </div>
    </div>
</section>